<div class="row">
    <div class="col-md-12">
        <section class="change-filter">
            <p>Changes in filter</p>
            <div class="search-label">
                <label>Destination</label>
                <label>Checkin-Checkout</label>
                <label>Adult(s)</label>
                <label>Child(s)</label>
                <label>Room(s)</label>
            </div>
            <div class="search-values">
                <input type="text" placeholder="Destination">
                <input type="date">
                <input type="number" placeholder="Adult" value="2">
                <input type="number" placeholder="Child" value="0">
                <input type="number" placeholder="Room" value="1">
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <kt-hotel-filter></kt-hotel-filter>
    </div>
    <div class="col-md-9">
        <kt-hotel></kt-hotel>
    </div>
</div>