<div class="container">
  <h4 class="section-title">Your cart details</h4>
  <div class="cart-details">
    <article class="item" *ngFor="let hotel of hotelList">
      <div class="item-wrapper">
        <div class="item-image-wrapper pos-relative">
          <div class="hotel-image" [ngStyle]="{'background-image': hotel.hotelImage}"></div>
        </div>
        <div class="item-flex-column">
          <div class="item-details">
            <div class="item-name item-name--link">
              <h3 class="m-0" [title]="hotel.hotelFullName">
                <span class="item-link name-copytext">{{hotel.hotelName}}</span>
              </h3>
            </div>
            <div class="stars-badges" *ngIf="hotel.rating > 0">
              <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                stars <span class="item-accommodation-type">Hotel</span>
              </div>
            </div>
            <div class="location ov-hidden" data-qa="info-slideout">
              <div class="item-link">
                <p>{{hotel.address}}</p>
              </div>
            </div>
          </div>
        </div>
        <section class="item-deal">
          <span>1 Room</span>
          <span>2 Adults - 0 Child</span>
          <span><b>Check-in: Friday, July 5, 2019 from 12:00 PM</b></span>
          <span><b>Check-out: Saturday, July 6, 2019 until 11:00 AM</b></span>
        </section>
      </div>
    </article>
  </div>
</div>
<div class="container">
  <h4 class="section-title">Enter your detail</h4>
  <div class="detail-box">
    <div class="form-group">
      <label for="forWork">
        <span>Are you traveling for work?</span>
        <span>
          <input type="radio" value="yes" name="forWork" /> Yes
        </span>
        <span>
          <input type="radio" value="no" name="forWork" /> No
        </span>
      </label>
    </div>
  </div>
  <div class="detail-box">
    <div class="flexbox">
      <div class="form-group">
        <label>Title</label>
        <select name="title" id="title">
          <option value="Mr.">Mr.</option>
          <option value="Ms.">Ms.</option>
          <option value="Mrs.">Mrs.</option>
        </select>
      </div>
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" placeholder="First name" />
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" placeholder="Last name" />
      </div>
    </div>
    <div class="flexbox">
      <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" placeholder="Email address" />
      </div>
      <div class="form-group">
        <label>Confirm email address</label>
        <input type="email" class="form-control" placeholder="Confirm email address" />
      </div>
    </div>
  </div>
  <div class="detail-box">
    <div class="flexbox">
      <div class="form-group card-number">
        <label>Card number</label>
        <input type="text" class="form-control" placeholder="XXXX-XXXX-XXXX-XXXX" />
      </div>
      <div class="form-group name-on-card">
        <label>Name on card</label>
        <input type="text" class="form-control" placeholder="Same as on card" />
      </div>
      <div class="form-group validupto">
        <label>Valid Upto</label>
        <input type="text" class="form-control" placeholder="07/21" />
      </div>
      <div class="form-group cvv">
        <label>CVV</label>
        <input type="password" class="form-control" />
      </div>
    </div>
  </div>
</div>
<div class="container">
  <input type="submit" value="Submit" class="btn btn-primary" />
  <input type="submit" value="Cancel" class="btn btn-standard" />
</div>